<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>CreateComputer</servlet-name>
        <servlet-class>com.excilys.formation.computerdatabase.servlets.CreateComputer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>com.excilys.formation.computerdatabase.servlets.DashBoard</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.excilys.formation.computerdatabase.servlets.Delete</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateComputer</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>